<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spd.mdm.manager">

    <application>

        <provider
            android:name="com.spd.mdm.manager.MdmManagerProvider"
            android:authorities="${applicationId}.mdm.manager.provider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>
</manifest>